

.product-div {
    display: flex;
     border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    
}

.product-div h2{
    
    color: rgb(55, 180, 139);
    font-weight: 400;
}

.product-details{
    margin-left: 50px;
    justify-content: left;
}

.product-button{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}